# Copy to your AutoRSA data folder as ".env" (or use Settings in the app to pick a folder, then add .env there)
# See https://github.com/NelsonDane/auto-rsa for full broker key documentation

## DISCORD BOT SETTINGS
DISCORD_TOKEN=""
DISCORD_CHANNEL=""

## OPTIONAL SETTINGS
DANGER_MODE="false"
HEADLESS="true"
SORT_BROKERS="true"

## BROKER SETTINGS
BBAE=
CHASE=
DSPAC=
FENNEL=
FIDELITY=
FIRSTRADE=
PUBLIC_BROKER=
ROBINHOOD=
SCHWAB=
SCHWAB_ACCOUNT_NUMBERS=
SOFI=
TASTYTRADE=
TORNADO=
TRADIER=
VANGUARD=
VANGUARD_ACCOUNT_NUMBERS=
WEBULL=
WELLSFARGO=
